body {
  background-color: rgba(102,21,163,0.9);
}

p, h1, h2 {
  text-align: center;
  margin: 0.5em auto;
  color: darkorange;
}

.divTable {
  display: table;
  margin: auto;
  border: solid 1px black;
}

.divTableBody {

}

.divTableRow {
  display: table-row;
  vertical-align: middle;
}

.divTableCell {
  display: table-cell;
  height: 4em;
  width: 4em;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#pieces {
  display: none;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
